﻿@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pixel-Cur.io</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="VueTube" asp-action="Index">VueTube</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    
    <div class="row">
        <h2>This site is currently under construction.</h2>
    </div>

    <hr/>
    <footer>
        <p>&copy; 2018 - Pixel-Cur.io</p>
    </footer>
</div>