﻿<template>
    <div>
        <youtube-comp></youtube-comp>
        <web-rtc></web-rtc>
        <notification></notification>
        <chat></chat>
    </div>
</template>

<script>
    import YoutubeComp from "./youtube";
    import WebRTC from "./webrtc";
    import Notification from "./notification";
    import Chat from "./Chat";

    export default {
        name: "app",
        components: {
            YoutubeComp,
            WebRTC,
            Notification,
            Chat
        },
        data() {
            return {
            };
        }
    };
</script>

<style>
    .striped-box {
        color: #bbb;
        border: solid 1px #151515;
    }

        .striped-box::after {
            content: "";
            background: url("../../images/bg_stripe.png");
            opacity: 0.75;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
</style>