﻿<template>
    <div>
        <transition name="chat">
            <div id="chat" class="striped-box" v-if="isShowing">
                <div id="chat-log" v-bind:class="{ chatMinimized: isChatMinimized }">
                    <div v-for="msg in log" :class="msg.cssClass">
                        {{ msg.nick }} : {{ msg.message }}
                    </div>
                </div>
                <div id="chat-input">
                    <input v-model="chatInput" @keyup.enter="sendMessage" placeholder="Send a message..." />
                    <button @click="sendMessage">Send</button>
                    <button @click="minimizeChat">-</button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { EventBus } from "../Helpers/EventBus";
    import { VtState } from "../Helpers/VtState";

    export default {
        name: "chat-comp",
        components: {
        },
        data() {
            return {
                username: "",
                chatInput: "",
                isShowing: true,
                isChatMinimized: false,
                log: [],
                sanitizedLog: []
            };
        },
        mounted() {
            EventBus.$on("usernameSet", name => {
                this.username = name;
                console.log("Username set to: " + this.username);
            });

            EventBus.$on("recChat", args => {
                this.receiveMessage(args.nick, args.message, args.cssClass);
            });

            EventBus.$on("requestChatLog", args => {
                //Send only non-system messages.
                //Replace 'self' messages with username.
                //Change class of all messages to other.
                //TODO: abstract all this shit away. these are destructive changes.
                this.sanitizedLog = [];
                for (var i = 0; i < this.log.length; i++) {
                    if (this.log[i].cssClass != "system") {
                        this.sanitizedLog.push({
                            nick: this.log[i].cssClass == "self" ? this.username : this.log[i].nick,
                            message: this.log[i].message,
                            cssClass: "user"
                        });
                    }
                }

                EventBus.$emit("finalizedSync", {
                    seconds: args.seconds,
                    videoId: args.videoId,
                    playlist: args.playlist,
                    chatLog: this.sanitizedLog,
                    skippingUsers: VtState.skippingUsers
                });
            });

            EventBus.$on("sync", args => {
                console.log("Syncing chat: " + args.chatLog);

                VtState.skippingUsers = VtState.skippingUsers.concat(args.skippingUsers);

                if (args.chatLog) {
                    var arrayLength = args.chatLog.length;
                    for (var i = 0; i < arrayLength; i++) {
                        console.log("nick: " + args.chatLog[i].nick + " : " + args.chatLog[i].message);
                        this.receiveMessage(args.chatLog[i].nick, args.chatLog[i].message, args.chatLog[i].cssClass);
                    }
                    this.scrollToBottom();
                }
            });
        },
        methods: {
            sendMessage() {
                EventBus.$emit("sndChat", this.chatInput);
                this.receiveMessage("Me", this.chatInput, "self");
                this.chatInput = "";
            },
            receiveMessage(nick, message, cssClass) {
                this.log.push({ nick: nick, message: message, cssClass: cssClass });

                setTimeout(() => {
                    this.scrollToBottom();
                }, 100);
            },
            minimizeChat() {
                this.isChatMinimized = !this.isChatMinimized;
                this.scrollToBottom();
                console.log("Chat min status: " + this.isChatMinimized.toString());
            },
            scrollToBottom() {
                var element = document.getElementById("chat-log");
                element.scrollTop = element.scrollHeight;
            }
        }
    };
</script>

<style>
    #chat {
        width: 260px;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: small;
    }

        #chat #chat-log {
            padding: 5px;
            border-bottom: 1px solid #151515;
            min-height: 30px;
            max-height: 200px;
            overflow: auto;
            font-size: 12px;
        }

            #chat #chat-log .system {
                color: #ffafaf;
                font-size: 11px;
                font-style: italic;
            }

            #chat #chat-log .self {
                color: #afc9ff;
            }

            #chat #chat-log .user {
                color: #b2ffaf;
            }

            #chat #chat-log.chatMinimized {
                max-height: 30px;
            }

        #chat #chat-input {
            padding: 5px;
            min-height: 40px;
            color: black;
        }

    .chat-enter-active, .chat-leave-active {
        transition: opacity 0.25s ease-out;
    }

    .chat-enter, .chat-leave-to {
        opacity: 0;
    }
</style>