﻿<template>
    <div>
        <transition name="fade">
            <div id="notification" class="striped-box" v-if="isShowing">
                <div class="header">{{ header }}</div>
                <div class="message">{{ message }}</div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { EventBus } from "../Helpers/EventBus";

    export default {
        name: "notif-comp",
        components: {
        },
        data() {
            return {
                isShowing: false,
                time: 3,
                header: "Warning",
                message: "You've been notified of an event, here it is! With even more text we get this, wow!",
                queue: []
            };
        },
        mounted() {
            EventBus.$on("notify", args => {
                this.addToQueue(args);
            });
        },
        methods: {
            addToQueue(args) {
                console.log("Adding notification to queue: ", args);
                this.queue.push(args);
                if (!this.isShowing) {
                    this.nextFromQueue();
                }
            },
            nextFromQueue() {
                if (this.queue.length > 0) {
                    var notif = this.queue.shift();
                    console.log("Popping notification from queue: ", notif);

                    this.time = notif.time;
                    this.header = notif.header;
                    this.message = notif.message;
                    this.isShowing = true;
                    setTimeout(() => {
                        this.isShowing = false;
                        this.nextFromQueue();
                    }, notif.time);
                }
            }
        }
    };
</script>

<style>
    #notification {
        width: 300px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        text-align: center;
    }

        #notification .header {
            font-weight: bold;
            border-bottom: 1px solid #151515;
        }

        #notification .message {
            min-height: 50px;
            padding: 10px;
        }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.25s ease-out;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>