﻿<template>
    <div>
        <video id="localVideo"></video>
        <div id="remoteVideos"></div>
    </div>
</template>

<script>
    import Vue from "vue";
    import SimpleWebRTC from "simplewebrtc";
    import Chance from "chance";
    import UUID from "../Helpers/UUID";
    import { EventBus } from "../Helpers/EventBus";
    import { VtState } from "../Helpers/VtState";

    const WebRTC = Vue.component("web-rtc", {
        data() {
            return {
                connection: {},
                isSyncing: false,
                uuid: "",
                seesionId: "",
                name: chance.name()
            };
        },
        mounted() {
            const appName = "vuetube-" + VtState.versionNumber;

            this.uuid = UUID.generate();

            console.log("Our name: ", this.name);

            this.connection = new SimpleWebRTC({
                url: "https://study-webrtc.herokuapp.com",
                localVideoEl: "localVideo",
                remoteVideosEl: "remoteVideos",
                autoRequestMedia: true,
                media: { video: false, audio: false },
                nick: this.name
            });

            this.connection.on("connectionReady", sessionId => {
                this.sessionId = sessionId;
            });

            this.connection.on("readyToCall", () => {
                this.connection.joinRoom(appName, (err, roomDescription) => {
                    console.log("Room joined", roomDescription);
                    console.log(this.connection);

                    EventBus.$emit("usernameSet", this.name);
                    VtState.activeUsers.push({ nick: this.name });
                });
                console.log("WebRTC loaded version 0.0.6. UUID: " + this.uuid);
            });

            this.connection.on("createdPeer", this.createdPeer.bind(this));

            EventBus.$on("playerReady", () => {
                this.requestSync();
            });

            EventBus.$on("sync", syncArgs => {
                console.log(
                    "Sending net sync command: ",
                    syncArgs.time,
                    " ",
                    syncArgs.videoId
                );
                this.send({
                    sender: this.uuid,
                    cmd: "sync",
                    args: { time: syncArgs.time, videoId: syncArgs.videoId }
                });
            });

            EventBus.$on("queueVideo", qVidId => {
                this.send({
                    sender: this.uuid,
                    cmd: "queue",
                    args: { videoId: qVidId }
                });
            });

            EventBus.$on("sndChat", chatInput => {
                this.send({
                    sender: this.uuid,
                    cmd: "chat",
                    args: { message: chatInput }
                });
            });

            EventBus.$on("finalizedSync", args => {
                this.send({
                    sender: this.uuid,
                    cmd: "sync",
                    args: { time: args.seconds, videoId: args.videoId, playlist: args.playlist, chatLog: args.chatLog, skippingUsers: args.skippingUsers }
                });
            });

            EventBus.$on("skip", () => {
                if (this.attemptSkip(this.name)) {
                    this.send({
                        sender: this.uuid,
                        cmd: "skip",
                        args: {}
                    });
                }
            });
        },
        methods: {
            createdPeer(peer) {
                peer.on("channelMessage", this.channelMessage.bind(this));
                peer.hasConnected = false;
                if (peer && peer.pc) {
                    peer.pc.on('iceConnectionStateChange', event => {
                        switch (peer.pc.iceConnectionState) {
                            case 'checking':
                                console.log("Peer connecting...", peer);
                                break;
                            case 'connected':
                                var ip = this.extractIPFromDescription(peer.pc.pc.remoteDescription.sdp);
                                if (!peer.hasConnected) {
                                    var hasConnected = false;
                                    for (var i = 0; i < VtState.activeUsers.length; i++) {
                                        if (VtState.activeUsers[i].ip == ip) hasConnected = true;
                                    }

                                    //TODO CHECK THIS LOGIC: SEE IF TWO USERS WITH THE SAME REMOTE IP CAN CONNECT
                                    //Issue with different clients registering different IP counts and there for skipping on different condition
                                    //temporarily removing for show night.
                                    hasConnected = false;

                                    if (!hasConnected) {
                                        console.log(peer.nick, " connected. IP: ", ip);
                                        VtState.activeUsers.push({ nick: peer.nick, ip: ip });
                                        EventBus.$emit("recChat", { nick: "System", message: peer.nick + " connected. Active users: " + VtState.activeUsers.length, cssClass: "system" });
                                        peer.hasConnected = true;
                                    } else {
                                        console.log("Repeat connectioned detected.");
                                    }
                                }
                            case 'completed': // on caller side
                                console.log(peer.nick, " completed.");
                                break;
                            case 'disconnected':
                                break;
                            case 'failed':
                                break;
                            case 'closed':
                                var removalIndex = VtState.activeUsers.findIndex(element => {
                                    return element.nick == peer.nick
                                });
                                if (removalIndex > -1) VtState.activeUsers.splice(removalIndex, 1);
                                console.log(peer.nick, " disconnected.");
                                EventBus.$emit("recChat", { nick: "System", message: peer.nick + " disconnected. Active users: " + VtState.activeUsers.length, cssClass: "system" });
                                break;
                        }
                    });
                }
            },
            extractIPFromDescription(desc) {
                //match just the IP address
                var ip_regex = /(c=[0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/
                var ip_addr = ip_regex.exec(desc)[1];

                return ip_addr;
            },
            attemptSkip(username) {
                //TODO: In another attempt to make this ready display ready. A skip from anyone is a skip.
                EventBus.$emit("playNext");
                EventBus.$emit("recChat", { nick: "System", message: "Vote to skip video passed.", cssClass: "system" });
                return true;

                if (VtState.skippingUsers.indexOf(username) == -1) {
                    VtState.skippingUsers.push(username);
                    console.log("skippingUsers: ", VtState.skippingUsers)

                    var usersNeeded = VtState.activeUsers.length / 2;
                    var message = "Skip requested. Skip votes needed: " + usersNeeded + " Votes Received: " + VtState.skippingUsers.length;

                    console.log("Skip requested. Active Users: ", VtState.activeUsers.length,
                        " Votes needed: ", usersNeeded,
                        " Votes received: ", VtState.skippingUsers.length);

                    EventBus.$emit("recChat", { nick: "System", message: message, cssClass: "system" });

                    if (VtState.skippingUsers.length >= usersNeeded) {
                        //Vote successful
                        VtState.skippingUsers = [];

                        EventBus.$emit("playNext");
                        EventBus.$emit("recChat", { nick: "System", message: "Vote to skip video passed.", cssClass: "system" });
                    }

                    return true;
                }
                return false;
            },
            channelMessage(peer, label, data, channel, event) {
                const serialized = JSON.parse(data.payload);
                console.log("Received command: ", serialized.cmd, serialized.args);

                switch (serialized.cmd) {
                    case "sync":
                        if (this.isSyncing) {
                            EventBus.$emit("sync", {
                                time: serialized.args.time,
                                videoId: serialized.args.videoId,
                                playlist: serialized.args.playlist,
                                chatLog: serialized.args.chatLog,
                                skippingUsers: serialized.args.skippingUsers
                            });
                            this.isSyncing = false;
                        }
                        break;

                    case "requestSync":
                        console.log("requestSync net command received, emitting syncRequested event.");
                        EventBus.$emit("syncRequested", this);
                        break;

                    case "queue":
                        EventBus.$emit("recQueue", serialized.args.videoId);
                        break;

                    case "chat":
                        EventBus.$emit("recChat", { nick: peer.nick, message: serialized.args.message, cssClass: "user" });
                        break;

                    case "skip":
                        this.attemptSkip(peer.nick);
                        break;

                    default:
                        break;
                }
            },
            send(msg) {
                this.connection.sendDirectlyToAll(
                    "command",
                    "command",
                    JSON.stringify(msg)
                );
            },
            requestSync() {
                setTimeout(() => {
                    console.log("Sending requestSync net command.");
                    this.isSyncing = true;
                    this.send({ sender: this.uuid, cmd: "requestSync", args: {} });

                    //Set another timeout so that if we don't get a response in a specified amount of time, we assume we are the only one in the room
                    setTimeout(() => {
                        if (this.isSyncing) {
                            this.attemptSkip(this.name);
                        }
                        this.isSyncing = false;
                    }, 1000);
                }, 1000);
            }
        }
    });

    export default WebRTC;
</script>

<style>
    #remoteVideos video {
        height: 150px;
    }

    #localVideo {
        height: 150px;
    }
</style>