﻿<template>
    <div class="youtube-background">
        <div class="video-background">
            <div class="video-foreground">
                <youtube :video-id="videoId" :player-vars="playerVars" ref="jukeboxPlayer"
                         @playing="playing"
                         @ready="ready"
                         @ended="ended"
                         @error="error"></youtube>
            </div>
        </div>
        <div class="vid-greeting striped-box">
            <b>Welcome to VueTube - {{ version}}</b>
            <p>Playlist:</p>
            <div v-for="video in playlist">
                {{ video.videoId }}
            </div>
        </div>
        <div class="vid-info striped-box">
            <input v-model="userVideoId" @keyup.enter="queueVideo" placeholder="Youtube ID">
            <button @click="queueVideo">Queue Video</button>
            <button @click="skip">Skip</button>
            <button @click="mute" v-show="!isMuted">Mute</button>
            <button @click="unmute" v-show="isMuted">Unmute</button>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import VueYoutube from "vue-youtube";
    import { EventBus } from "../Helpers/EventBus";
    import { VtState } from "../Helpers/VtState";

    Vue.use(VueYoutube);

    export default {
        name: "youtube-comp",
        data() {
            return {
                userVideoId: "",
                videoId: "",
                playlist: [],
                isMuted: false,
                version: VtState.versionNumber,
                playerVars: {
                    autoplay: 1,
                    controls: 0,
                    iv_load_policy: 3,
                    rel: 0
                }
            };
        },
        mounted() {
            EventBus.$on("sync", seekArgs => {
                this.syncVideo(seekArgs.time, seekArgs.videoId, seekArgs.playlist);
            });

            EventBus.$on("syncRequested", () => {
                this.supplyTime();
            });

            EventBus.$on("recQueue", qVidId => {
                this.recQueueVideo(qVidId);
            });

            EventBus.$on("playNext", () => {
                this.playNext();
            });

            EventBus.$on("playFromServer", args => {
                this.changeVideo(args.videoId);
            });
        },
        methods: {
            playing() {
                
            },
            ready() {
                console.log("Player is ready, emiting PlayerReady event.");
                EventBus.$emit("playerReady");
            },
            ended() {
                this.playNext();
            },
            error() {
                this.playNext();
            },
            recQueueVideo(qVidId) {
                this.queue(qVidId);
            },
            queueVideo() {
                if (this.queue(this.userVideoId)) {
                    EventBus.$emit("queueVideo", this.userVideoId);
                }
                this.userVideoId = "";
            },
            queue(queueId) {
                console.log("Queueing video: ", queueId);

                if (queueId.includes("http")) queueId = this.parseYoutubeUrl(queueId);

                if (this.playlistContains(queueId, this.playlist) == false) {
                    this.playlist.push({ videoId: queueId });

                    console.log("Playlist length after push: ", this.playlist.length);

                    if (this.playlist.length <= 1) {
                        this.player.getPlayerState().then(state => {
                            if (state != 1) {
                                this.playNext();
                            }
                        });
                    }
                    return true;
                } else {
                    EventBus.$emit("notify", {
                        time: 3000,
                        header: "Error " + Math.floor(Math.random() * 1000),
                        message: "The id you tried to input is already in the queue. Please don't do that."
                    });
                }

                return false;
            },
            syncVideo(time, reqVideoId, recPlaylist) {
                console.log("SeekVideo: ", time, " ", reqVideoId);
                if (reqVideoId != "") {
                    this.changeVideo(reqVideoId);
                }
                setTimeout(() => {
                    this.player.seekTo(time + 1, true);
                }, 1000);
                this.playlist = recPlaylist;
            },
            supplyTime(component) {
                this.player.getCurrentTime().then(seconds => {
                    console.log("SupplyingTime with value: ", seconds + 0.0);
                    EventBus.$emit("requestChatLog", { seconds: seconds, videoId: this.videoId, playlist: this.playlist })
                    //component.respondToTimeRequest(seconds, this.videoId, this.playlist);
                });
            },
            changeVideo(id) {
                console.log("Changing video to: " + id);
                this.videoId = id;
            },
            playNext() {
                if (this.playlist.length > 0) {
                    this.changeVideo(this.playlist[0].videoId);
                    this.playlist.splice(0, 1);
                } else {
                    fetch('VueTube/GetRandomVideoAsync').then(response => {
                        if (response.status == 200) {
                            response.json().then(function (data) {
                                console.log('fetch returned ok');
                                console.log(data);
                                EventBus.$emit("playFromServer", { videoId: data.videoId });
                            });
                        }
                    })
                }
            },
            skip() {
                EventBus.$emit("skip");
            },
            chorus() {
                const rows = 2;
                const cols = 3;
                var height = window.screen.height / rows;
                var width = window.screen.width / cols;
                var count = 0;
                for (let y = rows - 1; y >= 0; y--) {
                    for (let x = cols - 1; x >= 0; x--) {
                        count++;
                        console.log(`Attempting to open window #${count} x:${x} y:${y}`);
                        window.open(
                            window.location.href,
                            `${count}`,
                            `height=${height},
                                width=${width},
                                top=${height * y},
                                left=${width * x}`
                        );
                    }
                }
            },
            mute() {
                this.isMuted = true;
                this.player.mute();
            },
            unmute() {
                this.isMuted = false;
                this.player.unMute();
            },
            playlistContains(id, list) {
                var i;
                for (i = 0; i < list.length; i++) {
                    if (list[i].videoId === id) {
                        return true;
                    }
                }

                return false;
            },
            parseYoutubeUrl(url) {
                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                var match = url.match(regExp);
                return (match && match[7].length == 11) ? match[7] : false;
            }
        },
        computed: {
            player() {
                return this.$refs.jukeboxPlayer.player;
            }
        }
    };
</script>

<style>
    * {
        box-sizing: border-box;
    }

    .youtube-background {
        background-color: black;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -99;
    }

    .video-background {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -98;
    }

        .video-foreground,
        .video-background iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

    .vid-info {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        color: #000;
        padding: 1rem;
        font-family: Avenir, Helvetica, sans-serif;
    }

    .vid-greeting {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        -background: rgba(255, 255, 255, 0.3);
        color: #fff;
        font-family: Avenir, Helvetica, sans-serif;
    }
</style>